* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* BEGIN HAMBURGER MENU TOGGLE */  
.styledNavbarExpanded {
  max-height: none !important;
}

.linkContainerExpanded {
  display: flex !important;
  flex-direction: column !important;
  font-size: 2rem !important;
}
/* END HAMBURGER MENU TOGGLE */